{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/users.css') }}">
{% endblock %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<!-- Sidebar -->
	{{ include('_partials/_sidebar.html.twig') }}
	<!-- Navbar -->
	{{ include('_partials/_navbar.html.twig') }}
	<!-- Main content -->
	<div
		class="content">
		<!-- Card container -->
		<div class="card card-container small-card">
			<div class="card-body">
				<h1>Changer de mot de passe</h1>

				{{ include('profile/_formPassword.html.twig') }}
			</div>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			document.querySelectorAll('.toggle-password').forEach(function (toggle) {
				toggle.addEventListener('click', function () {
					let input = this.previousElementSibling.querySelector('input');
					const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
					input.setAttribute('type', type);
					this.querySelector('i').classList.toggle('fa-eye');
					this.querySelector('i').classList.toggle('fa-eye-slash');
				});
			});
		});
	</script>
{% endblock %}
