{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/login.css') }}">
{% endblock %}

{% block title %}OTV - demande envoyée
{% endblock %}

{% block body %}
	<body class="text-center">
		<div class="form-signin">
			<img class="mb-4" src="{{ asset('assets/images/Logo_Police_Municipale__France_.webp') }}" alt="" height="80">
			<h1 class="h3 mb-3 font-weight-normal">Demande envoyée</h1>
			<p>
				Si un compte correspondant à votre email existe, alors un email vous a été envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
    Ce lien expirera dans
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
			</p>
			<p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou
				<a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
		</div>
	</body>
{% endblock %}
