<form method="post" action="{{ path('app_otv_delete', {'id': otv.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette OTV ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ otv.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
