{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/otv.css') }}">
{% endblock %}

{% block title %}OTV
{% endblock %}

{% block body %}
			{{ include('_partials/_flashMessages.html.twig') }}
	<div class="showWrapper background">
		<div class="otvCard">
			<h1>OTV #
				{{otv.id}}</h1>

			{{ include('otv/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
		</div>
	</div>
{% endblock %}
