{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style/users.css') }}">
{% endblock %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div
		class="pageWrapper">
		<!-- Sidebar -->
		{{ include('_partials/_sidebar.html.twig') }}
		<div class="mainContent">

			<h1>Create new User</h1>
            <div class=" cardContainer shadowBox card">

                {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                <a href="{{ path('app_user_index') }}">Retour à la liste utilisateurs</a>
            </div>
		</div>
	</div>
{% endblock %}
